*

!.gitignore
!docs/
!docs/*
!*.md
!uv.lock
!*.py
!api/
!/api/*
!sociology_simulation/
!sociology_simulation/*
!sociology_simulation/*/*
!sociology_simulation/*/*/*
*.pyc
*.cpython-313.pyc
*/__pycache__/*
*/*/__pycache__/*

